/* #root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}
main{
    flex: 1 0 auto;
} */


.app-component{
  display: flex;
}

.content{
  width: 100%;
}

.sidebar{
  min-height: 500px;
}