.content{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}
main{
    flex: 1 0 auto;
}


.app-component{
  display: flex;
}

.content{
  width: 100%;
}

.sidebar{
  min-height: 500px;
}


.create-post{
  width: 80%;
  margin: 10%;
  display: inline-block;
  padding: 12px 24px;
  border: 2px solid #ffc107; /* yellowish border */
  background-color: #e3f2fd; /* light blue background */
  color: #0d47a1; /* dark blue text */
  font-family: "Ancizar Sans";
  font-weight: bold;
  box-shadow: 2px 2px 0 #ffc107; /* simple 2D offset shadow using yellow */
  transition: all 0.3s ease;
  /* text-align: center; */
}

.create-post:hover{
    box-shadow: 4px 4px 0 #ffc107;
    cursor: pointer;
}

